<ul class="nav nav-underline  justify-content-evenly">
    
    <li class="nav-item">
      <a class="nav-link active" href="#">Les comptes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ajouter compte</a>
    </li>
    
  </ul>

  <div class="flex-column m-5 p-3">
    <table class="table table-striped  ">
      <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Nom</th>
            <th scope="col">Peanom </th>
            <th scope="col">mail </th>
            <th scope="col">tel  </th>

          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td><img src="../assets/img/prof.jpeg" class="rounded-5" alt="" srcset="" width="50" height="50"></td>
            <td>hana</td>
            <td>hana</td>
            <td>hana.com </td>
            <td>12345678</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
           <tr>
          <th scope="row">3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
        </tr>
        <tr>
          <th scope="row">4</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        
        </tbody>
    </table>
  </div>