
<div class="container">
    <div class="logo-container">
      <img src="../assets/img/logo.png" alt="" srcset="">

    </div>
    <div class="login-container">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div>
            <label for="email">Email</label>
            <input 
              type="email" 
              id="email" 
              name="email" 
              [(ngModel)]="email" 
              required 
              #emailInput="ngModel"
            />
            <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
              Email est requis.
            </div>
          </div>
      
          <div>
            <label for="password">Mot De Passe</label>
            <input 
              type="password" 
              id="password" 
              name="password" 
              [(ngModel)]="password" 
              required 
              #passwordInput="ngModel"
            />
            <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
              Mot de passe est requis.
            </div>
          </div>
      
          <button type="submit" [disabled]="loginForm.invalid"  onclick=" ">Connecter</button>
        </form>
      
        <a href="#" (click)="onForgotPassword()">Mot De Passe oubliée ?</a>
      </div>
      
</div>