.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  .logo-container {
    margin-right: 50px; /* Espacement entre le logo et le formulaire */
  }

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #004080;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  