<ul class="nav nav-underline  justify-content-evenly">
    
    <li class="nav-item">
      <a class="nav-link active" href="#">Produit fini</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Les pièces</a>
    </li>
    
  </ul>
<div class="flex-column m-5">
  <table class="table table-striped ">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Image</th>
          <th scope="col">Type de turbo</th>
          <th scope="col">Moddele de turbo </th>
          <th scope="col">Ref de turbo </th>
          <th scope="col">Quantite  </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1</th>
          <td><img src="../assets/img/gtb17.png" alt="" srcset="" width="50" height="50"></td>
          <td>Garret</td>
          <td>GTB1749V</td>
          <td>78756-24</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
         <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> </td>
      </tr>
      
      </tbody>
  </table>
</div>